<% # navbar...などはCSSクラスの部品名. BootStrapを適応する際に識別する %>
<header class="navbar navbar-fixed-top navbar-inverse">
<% # containerも同じくCSSクラス %>
<div class="container">
<%
 # link_to: railsでのリンクの生成
 # 引数1:テキスト名 引数2:リンク先
%>
<%= link_to "First app", root_path, id: "logo" %>
<% # navタグ: 囲われたところがnavigation barの要素を表している %>
<nav>
  <%
  # ulタグ: 順不同リストであることを表している
  # liタグ: リスト内のアイテムを指す(リスト自体を指しているわけではない.)
  %>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "Log in", login_path %></li>
  </ul>
</nav>
</div>
</header>
